{% extends 'todo/base.html' %}

{% block content %}
<style>
  table {
  border: 2px solid black;
  border-collapse: collapse;
}
tr {
border: 1px solid brown;
border-collapse: collapse;
}
  </style>
<h2 align="center">Completed Todos</h2>
<br>
  <br>
  <div align="center">
    <table style="width:50%">
      {% for todo in todos %}
<tr {% if todo.important %} class="table-danger" {% else %} class="table-active" {%endif%}>


<td >

  <a href="{% url 'viewTodo' todo.id %}" style="margin-left: 10px">  {{ todo.title }}</a>
  
  </td >
    <td >
   --{{todo.dateCompletion}}
</td>

</tr>
{% endfor %}
</table
</div>
</ul>


{% endblock %}
